<!DOCTYPE html>

<html>

<head>

    <!-- 页面meta -->

    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>经费到账</title>

    <!-- 引入样式 -->

    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">

    <link rel="stylesheet" href="../plugins/font-awesome/css/font-awesome.min.css">

    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/self.css">

</head>

<body class="hold-transition">

<div id="app">

    <div class="content-header">

        <h1>经费到账</h1>

    </div>

    <div class="app-container">

        <div class="box">

            <div class="filter-container">

                <el-input v-model="searchName" placeholder="请输入项目编号" style="width: 200px;"></el-input>
                <el-button type="primary" @click="search">搜索</el-button>

                <el-button type="primary" class="butT" @click="handleCreate()">上传</el-button>

            </div>

            <el-table size="small" current-row-key="id" :data="dataList" stripe highlight-current-row>
                <el-table-column label="序号" align="center">
                    <template slot-scope="scope">
                        {{ scope.$index + 1 }}
                    </template>
                </el-table-column>
                <el-table-column prop="dzId" label="id" align="center" v-if="false"></el-table-column>
                <el-table-column prop="xmNumber" label="项目编号" align="center"></el-table-column>
                <el-table-column prop="dzPicture" label="到帐单图片" align="center"></el-table-column>
                <el-table-column prop="dzTime" label="到帐时间" :formatter="formatTime"></el-table-column>
                <el-table-column prop="dzMoney" label="到帐金额" align="center"></el-table-column>
                <el-table-column label="到帐单审核状态" align="center">
                    <template slot-scope="scope">
                        {{ scope.row.dzStatus ? statusData[(scope.row.dzStatus)].label : '待审核' }}
                    </template>
                </el-table-column>

                <el-table-column label="操作" align="center">

                    <template slot-scope="scope">
                        <el-button type="primary" size="mini" @click="handleUpdate(scope.row)">修改</el-button>
                        <el-button type="warning" size="mini" @click="handleDelete(scope.row)">删除</el-button>
                    </template>

                </el-table-column>
            </el-table>

            <!-- 新增标签弹层 -->

            <div class="add-form">

                <el-dialog title="到账上传" :visible.sync="dialogFormVisible">

                    <el-form ref="dataAddForm" :model="formData" :rules="rules" label-position="right"
                             label-width="100px">

                        <el-row>
                            <el-col :span="12">
                                <el-form-item label="项目编号" prop="pjName">
                                    <el-input v-model="formData.xmNumber"/>
                                </el-form-item>
                            </el-col>

                            <el-col :span="12">
                                <el-form-item label="到帐金额" prop="pjName">
                                    <el-input v-model="formData.dzMoney"/>
                                </el-form-item>
                            </el-col>

                            <el-col :span="12">
                                <el-form-item label="到账时间">
                                    <el-date-picker v-model="formData.dzTime" type="datetime"
                                                    placeholder="选择时间"></el-date-picker>
                                </el-form-item>
                            </el-col>

                            <el-col :span="12">
                                <el-form-item label="审核状态">
                                    <el-select v-model="formData.dzStatus" placeholder="下拉选择操作">
                                        <el-option label="待审核" value="0"></el-option>
                                        <el-option label="审核通过" value="1"></el-option>
                                        <el-option label="打回修改" value="2"></el-option>
                                    </el-select>
                                </el-form-item>
                            </el-col>

                        </el-row>
                        <el-row>
                            <el-col>
                                <el-form-item label="上传图片">
                                    <el-upload
                                            action="/upload"
                                            :on-preview="handlePreview"
                                            :on-success="handleSuccess"
                                            accept=".jpg,.jpeg,.png,.gif,.bmp"
                                            :limit="1">

                                        <el-button size="small" type="primary">选择文件</el-button>
                                    </el-upload>
                                </el-form-item>
                            </el-col>
                        </el-row>

                    </el-form>

                    <div slot="footer" class="dialog-footer">

                        <el-button @click="dialogFormVisible = false">取消</el-button>

                        <el-button type="primary" @click="handleAdd()">确定</el-button>

                    </div>

                </el-dialog>

            </div>

            <!-- 修改标签弹层 -->

            <div class="add-form">

                <el-dialog title="到账上传" :visible.sync="dialog4FormVisible">

                    <el-form ref="dataAddForm" :model="formData" :rules="rules" label-position="right"
                             label-width="100px">

                        <el-row>
                            <el-col :span="12">
                                <el-form-item label="项目编号" prop="pjName">
                                    <el-input v-model="formData.xmNumber"/>
                                </el-form-item>
                            </el-col>

                            <el-col :span="12">
                                <el-form-item label="到帐金额" prop="pjName">
                                    <el-input v-model="formData.dzMoney"/>
                                </el-form-item>
                            </el-col>

                            <el-col :span="12">
                                <el-form-item label="到账时间">
                                    <el-date-picker v-model="formData.dzTime" type="datetime"
                                                    placeholder="选择时间"></el-date-picker>
                                </el-form-item>
                            </el-col>

                            <el-col :span="12">
                                <el-form-item label="审核状态">
                                    <el-select v-model="formData.dzStatus" placeholder="下拉选择操作">
                                        <el-option label="待审核" value="0"></el-option>
                                        <el-option label="审核通过" value="1"></el-option>
                                        <el-option label="打回修改" value="2"></el-option>
                                    </el-select>
                                </el-form-item>
                            </el-col>

                        </el-row>
                        <el-row>
                            <el-col>
                                <el-form-item label="上传图片">
                                    <el-upload
                                            action="/upload"
                                            :on-preview="handlePreview"
                                            :on-success="handleSuccess"
                                            accept=".jpg,.jpeg,.png,.gif,.bmp"
                                            :limit="1">

                                        <el-button size="small" type="primary">选择文件</el-button>
                                    </el-upload>
                                </el-form-item>
                            </el-col>
                        </el-row>

                    </el-form>

                    <div slot="footer" class="dialog-footer">

                        <el-button @click="dialogFormVisible = false">取消</el-button>

                        <el-button type="primary" @click="handleEdit()">确定</el-button>

                    </div>

                </el-dialog>

            </div>

        </div>

    </div>

</div>
<footer>
    <p>版权所有:湖北文理学院计算机工程学院&nbsp;周超</p>
</footer>
</body>

<!-- 引入组件库 -->

<script src="../js/vue.js"></script>

<script src="../plugins/elementui/index.js"></script>

<script type="text/javascript" src="../js/jquery.min.js"></script>

<script src="../js/axios-0.18.0.js"></script>


<script>
    var vue = new Vue({

        el: '#app',
        data: {
            pagination: {},
            dataList: [],//当前页要展示的列表数据
            formData: {},//表单数据
            dialogFormVisible: false,//控制表单是否可见
            dialog4FormVisible: false,
            statusData: {
                '0': {
                    label: '待审核'
                },
                '1': {
                    label: '审核通过'
                },
                '2': {
                    label: '打回修改'
                }
            },
            searchName: '',
        },


        //钩子函数，VUE对象初始化完成后自动执行
          created() {
              this.getAll();
          },

        methods: {
            //列表
            getAll() {
                axios.get("/admin/getAllJfdz").then((res) => {
                    this.dataList = res.data.data;
                });
            },

            handlePreview(file) {
                window.open(file.response.url)
            },

            handleSuccess(response, file, fileList) {
                if (response.code === 0) {
                    this.formData.dzPicture = response.url;
                    this.$message.success("文件上传成功");
                } else {
                    this.$message.error("文件上传失败：" + response.msg);
                }
            },

            formatTime(row) {
                return new Date(row.dzTime).toLocaleString('zh-CN', {hour12: false});
            },



            search() {
                axios.get("/getDzdByName", {
                    params: {
                        searchName: this.searchName
                    }
                }).then((res) => {
                    this.dataList = res.data.data;
                }).catch(() => {
                    this.$message.error("查询失败，没有此编号的数据");
                })
            },

            //弹出添加窗口
            handleCreate() {
                this.dialogFormVisible = true;
                this.resetForm();
            },

            //重置表单
            resetForm() {
                this.formData = {};
            },

            //添加
            handleAdd() {
                axios.post("/insertJfdz", this.formData).then((res) => {
                    if (res.data.code === 20011) {
                        this.dialogFormVisible = false;
                        this.$message.success("添加成功");
                    } else if (res.data.code === 20010) {
                        this.$message.error("添加失败");
                    } else {
                        this.$message.error(res.data.msg);
                    }
                }).finally(() => {
                    this.getAll();
                });
            },

            /*弹出修改表单*/
            handleUpdate(row) {
                axios.get("/sysadmin/getJfdzById/" + row.dzId).then((res) => {
                    // console.log(res.data.data);
                    if (res.data.code === 20041) {
                        //展示弹层，加载数据
                        this.formData = res.data.data;
                        this.dialog4FormVisible = true;
                    } else {
                        this.$message.error(res.data.msg);
                    }
                });
            },

            //编辑
            handleEdit() {
                axios.put("/sysadmin/updateJfdz", this.formData).then((res) => {
                    //如果操作成功，关闭弹层，显示数据
                    if (res.data.code === 20031) {
                        this.dialog4FormVisible = false;
                        this.$message.success("修改成功");
                    } else if (res.data.code === 20030) {
                        this.$message.error("修改失败");
                    } else {
                        this.$message.error(res.data.msg);
                    }
                }).finally(() => {
                    this.getAll();
                });

            },

            handleDelete(row) {
                this.$confirm("此操作永久删除当前数据，是否继续？", "提示", {
                    type: 'info'
                }).then(() => {
                    //2.做删除业务
                    axios.delete("/sysadmin/deleteJfdz/" + row.dzId).then((res) => {
                        if (res.data.code === 20021) {
                            this.$message.success("删除成功");
                        } else if (res.data.code === 20022) {
                            this.$message.error("删除失败");
                        } else {
                            this.$message.error(res.data.msg);
                        }
                    }).finally(() => {
                        this.getAll();
                    });
                }).catch(() => {
                    //3.取消删除
                    this.$message.info("取消删除操作");
                });
            }
        }
    })

</script>

</html>