<!DOCTYPE html>

<html lang="en">

<head>

    <!-- 页面meta -->

    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>拨付单管理</title>

    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="../plugins/font-awesome/css/font-awesome.min.css">

    <link rel="stylesheet" href="../css/style.css">
    <link href="../css/self.css" rel="stylesheet">
</head>

<body class="hold-transition">

<div id="app">

    <div class="content-header">

        <h1>拨付单管理</h1>

    </div>

    <div class="app-container">

        <div class="box">

            <div class="filter-container">

                <el-input v-model="searchName" placeholder="请输入项目编号" style="width: 200px;"></el-input>
                <el-button type="primary" @click="search">搜索</el-button>

            </div>

            <el-table size="small" current-row-key="id" :data="dataList" stripe highlight-current-row>
                <el-table-column label="序号" align="center">
                    <template slot-scope="scope">
                        {{ scope.$index + 1 }}
                    </template>
                </el-table-column>
                <el-table-column prop="id" label="id" align="center" v-if="false"></el-table-column>
                <el-table-column prop="pjNumber" label="项目编号" align="center"></el-table-column>
                <el-table-column prop="bfdPicture" label="拨付单图片" align="center"></el-table-column>
                <el-table-column prop="pjBalance" label="项目余额" align="center"></el-table-column>
                <el-table-column prop="pjBk" label="本次拨款金额" align="center"></el-table-column>
                <el-table-column label="管理员审核状态" align="center">
                    <template slot-scope="scope">
                        {{ scope.row.adminStatus ? statusData[(scope.row.adminStatus)].label : '待审核' }}
                    </template>
                </el-table-column>
                <el-table-column label="记账员审核状态" align="center">
                    <template slot-scope="scope">
                        {{ scope.row.bkStatus ? statusData[(scope.row.bkStatus)].label : '待审核' }}
                    </template>
                </el-table-column>

                <el-table-column label="操作" align="center">

                    <template slot-scope="scope">
                        <el-button type="primary" size="mini" @click="handleApprove(scope.row)">审核通过</el-button>
                        <el-button type="warning" size="mini" @click="handleReject(scope.row)">打回修改</el-button>
                    </template>

                </el-table-column>

            </el-table>


        </div>

    </div>

</div>
<footer>
    <p>版权所有:湖北文理学院计算机工程学院&nbsp;周超</p>
</footer>
</body>

<!-- 引入组件库 -->
<script src="../js/axios-0.18.0.js"></script>

<!-- 引入 Vue.js 和 Element UI 的脚本文件 -->
<script src="https://unpkg.com/vue@2.6.14/dist/vue.js"></script>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>


<script>
    var vue = new Vue({

        el: '#app',
        data: {
            dataList: [],//当前页要展示的列表数据
            searchName: '',

            statusData: {
                '0': {
                    label: '待审核'
                },
                '1': {
                    label: '审核通过'
                },
                '2': {
                    label: '打回修改'
                }
            },


        },


        //钩子函数，VUE对象初始化完成后自动执行
        created() {
            this.getAll();
        },

        methods: {
            //列表
            getAll() {
                axios.get("/admin/getAllBfd").then((res) => {
                    this.dataList = res.data.data;
                });
            },

            search() {
                axios.get("/admin/getBfdByNumber", {
                    params: {
                        searchName: this.searchName
                    }
                }).then((res) => {
                    this.dataList = res.data.data;
                })
            },

            handleApprove(row) {
                row.bkStatus = 1; //审核通过状态的值为1
                this.handleUpdate(row);
            },
            handleReject(row) {
                row.bkStatus = 2; //打回修改状态的值为2
                this.handleUpdate(row);
            },
            handleUpdate(row) {
                // 可以在此处使用axios等工具将更新后的数据发送到后端API进行处理
                axios.post("/bk/bfdSh", row).then((res) => {
                    if (res.data.code === 20031) {
                        this.$message.success("修改成功");
                    } else if (res.data.code === 20030) {
                        this.$message.error("修改失败");
                    } else {
                        this.$message.error(res.data.msg);
                    }
                }).finally(() => {
                    this.getAll();
                })
            }

        }
    })

</script>

</html>