<!DOCTYPE html>

<html>

<head>

    <!-- 页面meta -->

    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>项目申报</title>

    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">

    <!-- 引入样式 -->

    <link rel="stylesheet" href="../plugins/elementui/index.css">

    <link rel="stylesheet" href="../plugins/font-awesome/css/font-awesome.min.css">

    <link rel="stylesheet" href="../css/style.css">
    <link href="../css/self.css" rel="stylesheet">

</head>

<body class="hold-transition">

<div id="app">

    <div class="content-header">

        <h1>项目申报</h1>

    </div>

    <div class="app-container">

        <div class="box">

            <div class="filter-container">

                <el-input placeholder="搜索" v-model="pagination.queryString" style="width: 200px;"
                          class="filter-item"></el-input>

                <el-button @click="getAll()" class="dalfBut">查询</el-button>

                <el-button type="primary" class="butT" @click="handleCreate()">申报</el-button>

            </div>

            <el-table size="small" current-row-key="id" :data="dataList" stripe highlight-current-row>
                <el-table-column label="序号" align="center">
                    <template slot-scope="scope">
                        {{ scope.$index + 1 }}
                    </template>
                </el-table-column>

                <el-table-column prop="pjId" label="项目ID" align="center" v-if="false"></el-table-column>
                <el-table-column prop="pjName" label="项目名称" align="center"></el-table-column>

                <!--                <el-table-column prop="pjType" label="项目类型" align="center"></el-table-column>-->
                <el-table-column label="项目类型" align="center">
                    <template slot-scope="scope">
                        {{ scope.row.pjType ? status1Data[(scope.row.pjType)].label : '技术开发（委托）' }}
                    </template>
                </el-table-column>

                <el-table-column prop="pjUser" label="项目负责人" align="center"></el-table-column>
                <el-table-column prop="pjXmht" label="项目合同" align="center">
                    <template slot-scope="scope">
                        <a :href="scope.row.pjXmht" target="_blank" class="buttonText">{{ scope.row.pjXmht }}</a>
                    </template>
                </el-table-column>
                <!--<el-table-column label="项目合同" align="center">
                    <template slot-scope="scope">
                        <el-button plain onclick="">合同</el-button>
                    </template>
                </el-table-column>-->

                <el-table-column label="审核状态" align="center">
                    <template slot-scope="scope">
                        {{ scope.row.pjShstatus ? statusData[(scope.row.pjShstatus)].label : '待审核' }}
                    </template>
                </el-table-column>


                <el-table-column label="操作" align="center">

                    <template slot-scope="scope">

                        <el-button type="primary" size="mini" @click="handleUpdate(scope.row)">编辑</el-button>

                        <el-button type="danger" size="mini" @click="handleDelete(scope.row)">删除</el-button>

                    </template>

                </el-table-column>

            </el-table>

            <!-- 新增标签弹层 -->

            <div class="add-form">

                <el-dialog title="项目申报" :visible.sync="dialogFormVisible">

                    <el-form ref="dataAddForm" :model="formData" :rules="rules" label-position="right"
                             label-width="100px">

                        <el-row>
                            <el-col :span="12">
                                <el-form-item label="项目名称" prop="pjName">
                                    <el-input v-model="formData.pjName"/>
                                </el-form-item>
                            </el-col>

                            <el-col :span="12">
                                <el-form-item label="项目类型">
                                    <el-select v-model="formData.pjType" placeholder="下拉选择类型">
                                        <el-option label="技术开发（委托）" value="0"></el-option>
                                        <el-option label="技术开发（合作）" value="1"></el-option>
                                        <el-option label="技术服务" value="2"></el-option>
                                        <el-option label="技术咨询" value="3"></el-option>
                                        <el-option label="技术转让（专利权）" value="4"></el-option>
                                        <el-option label="技术转让（专利实施许可）" value="5"></el-option>
                                        <el-option label="技术转让（专利申请权）" value="6"></el-option>
                                        <el-option label="技术转让（技术秘密）" value="7"></el-option>
                                        <el-option label="技术转让（软件著作权）" value="8"></el-option>
                                    </el-select>
                                </el-form-item>
                            </el-col>
                        </el-row>

                        <el-row>
                            <el-col>
                                <el-form-item label="上传文件">
                                    <el-upload
                                            action="/upload"
                                            :on-preview="handlePreview"
                                            :on-success="handleSuccess"
                                            accept=".pdf"
                                            :limit="1">

                                        <el-button size="small" type="primary">选择文件</el-button>
                                        <div slot="tip" class="el-upload__tip">只能上传PDF文件</div>
                                    </el-upload>
                                </el-form-item>
                            </el-col>
                        </el-row>


                    </el-form>

                    <div slot="footer" class="dialog-footer">

                        <el-button @click="dialogFormVisible = false">取消</el-button>

                        <el-button type="primary" @click="handleAdd()">确定</el-button>

                    </div>

                </el-dialog>

            </div>

            <!-- 编辑标签弹层 -->

            <div class="add-form">

                <el-dialog title="编辑检查项" :visible.sync="dialogFormVisible4Edit">

                    <el-form ref="dataEditForm" :model="formData" :rules="rules" label-position="right"
                             label-width="100px">

                        <el-row>

                            <el-col :span="12">

                                <el-form-item label="项目名称" prop="pjName">

                                    <el-input v-model="formData.pjName"/>

                                </el-form-item>

                            </el-col>

                            <el-col :span="12">
                                <el-form-item label="项目类型">
                                    <el-select v-model="formData.pjType" placeholder="下拉选择类型">
                                        <el-option label="技术开发（委托）" value="0"></el-option>
                                        <el-option label="技术开发（合作）" value="1"></el-option>
                                        <el-option label="技术服务" value="2"></el-option>
                                        <el-option label="技术咨询" value="3"></el-option>
                                        <el-option label="技术转让（专利权）" value="4"></el-option>
                                        <el-option label="技术转让（专利实施许可）" value="5"></el-option>
                                        <el-option label="技术转让（专利申请权）" value="6"></el-option>
                                        <el-option label="技术转让（技术秘密）" value="7"></el-option>
                                        <el-option label="技术转让（软件著作权）" value="8"></el-option>
                                    </el-select>
                                </el-form-item>
                            </el-col>

                        </el-row>

                        <el-row>
                            <el-col>
                                <el-form-item label="上传文件">
                                    <el-upload
                                            action="/upload"
                                            :on-preview="handlePreview"
                                            :on-success="handleSuccess"
                                            accept=".pdf"
                                            :limit="1">

                                        <el-button size="small" type="primary">选择文件</el-button>
                                        <div slot="tip" class="el-upload__tip">只能上传PDF文件</div>
                                    </el-upload>
                                </el-form-item>
                            </el-col>
                        </el-row>

                    </el-form>

                    <div slot="footer" class="dialog-footer">

                        <el-button @click="dialogFormVisible4Edit = false">取消</el-button>

                        <el-button type="primary" @click="handleEdit()">确定</el-button>

                    </div>

                </el-dialog>

            </div>

        </div>

    </div>

</div>


<footer>
    <p>版权所有:湖北文理学院计算机工程学院&nbsp;周超</p>
</footer>
</body>

<!-- 引入组件库 -->

<script src="../js/vue.js"></script>

<script src="../plugins/elementui/index.js"></script>

<script type="text/javascript" src="../js/jquery.min.js"></script>

<script src="../js/axios-0.18.0.js"></script>

<!-- 引入 layui.js -->
<script src="//unpkg.com/layui@2.6.8/dist/layui.js"></script>


<script>
    var vue = new Vue({

        el: '#app',
        data: {
            pagination: {},
            dataList: [],//当前页要展示的列表数据
            formData: {},//表单数据
            dialogFormVisible: false,//控制表单是否可见
            dialogFormVisible4Edit: false,//编辑表单是否可见
            dialogFormVisible1Edit: false,
            /* rules: {//校验规则
                 type: [{required: true, message: '项目类别为必填项', trigger: 'blur'}],
                 name: [{required: true, message: '项目名称为必填项', trigger: 'blur'}]
             }*/
            statusData: {
                '0': {
                    label: '待审核'
                },
                '1': {
                    label: '审核通过'
                },
                '2': {
                    label: '打回修改'
                }
            },

            status1Data: {
                '0': {
                    label: '技术开发（委托）'
                },
                '1': {
                    label: '技术开发（合作）'
                },
                '2': {
                    label: '技术服务'
                },
                '3': {
                    label: '技术咨询'
                },
                '4': {
                    label: '技术转让（专利权）'
                },
                '5': {
                    label: '技术转让（专利实施许可）'
                },
                '6': {
                    label: '技术转让（专利申请权）'
                },
                '7': {
                    label: '技术服务（技术秘密）'
                }
            },

        },


        //钩子函数，VUE对象初始化完成后自动执行
        created() {
            this.getAll();
        },

        methods: {
            handlePreview(file) {
                window.open(file.response.url)
            },

            handleSuccess(response, file, fileList) {
                if (response.code === 0) {
                    this.formData.pjXmht = response.url;
                    this.$message.success("文件上传成功");
                } else {
                    this.$message.error("文件上传失败：" + response.msg);
                }
            },

            //列表
            getAll() {
                axios.get("/getProject").then((res) => {
                    this.dataList = res.data.data;
                });
            },

            //弹出添加窗口
            handleCreate() {
                this.dialogFormVisible = true;
                this.resetForm();
            },

            //重置表单
            resetForm() {
                this.formData = {};
            },

            //添加
            handleAdd() {
                axios.post("/insert", this.formData).then((res) => {
                    if (res.data.code === 20011) {
                        this.dialogFormVisible = false;
                        this.$message.success("添加成功");
                    } else if (res.data.code === 20010) {
                        this.$message.error("添加失败");
                    } else {
                        this.$message.error(res.data.msg);
                    }
                }).finally(() => {
                    this.getAll();
                });
            },

            //弹出编辑窗口
            handleUpdate(row) {
                axios.get("/getOneProject/" + row.pjId).then((res) => {
                    // console.log(res.data.data);
                    if (res.data.code === 20041) {
                        //展示弹层，加载数据
                        this.formData = res.data.data;
                        this.dialogFormVisible4Edit = true;
                    } else {
                        this.$message.error(res.data.msg);
                    }
                });
            },

            //编辑
            handleEdit() {
                axios.put("/update", this.formData).then((res) => {
                    //如果操作成功，关闭弹层，显示数据
                    if (res.data.code === 20031) {
                        this.dialogFormVisible4Edit = false;
                        this.$message.success("修改成功");
                    } else if (res.data.code === 20030) {
                        this.$message.error("修改失败");
                    } else {
                        this.$message.error(res.data.msg);
                    }
                }).finally(() => {
                    this.getAll();
                });

            },

            // 删除
            handleDelete(row) {
                this.$confirm("此操作永久删除当前数据，是否继续？", "提示", {
                    type: 'info'
                }).then(() => {
                    //2.做删除业务
                    axios.delete("/delete/" + row.pjId).then((res) => {
                        if (res.data.code === 20021) {
                            this.$message.success("删除成功");
                        } else if (res.data.code === 20022) {
                            this.$message.error("删除失败");
                        } else {
                            this.$message.error(res.data.msg);
                        }
                    }).finally(() => {
                        this.getAll();
                    });
                }).catch(() => {
                    //3.取消删除
                    this.$message.info("取消删除操作");
                });
            }
        }
    })

</script>

</html>